@import '../../style/variables.scss';

.navBarContainer.navBarContainer.navBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  padding-top: 0.5rem;
}

.logoImage {
  height: 2rem;
  width: 2rem;
}

.menuBtn.menuBtn {
  color: $color-base-white;
}

.linkPage {
  text-decoration: none;
  color: $color-navy-blue;
}

.linksContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: $color-base-white;
}

.userContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
