//colors
$color-royal-blue: #4169e1;
$color-navy-blue: #000080;
$color-base-white: #ffffff;
$color-latte: #fff8e7;
$color-blue-ciel: #e4f1f9;
$color-dark-violet: #420075;
$color-base-green: #008000;

//fonts
$font-size-medium: 1.5rem;

//font-weight
$bold: 600;
