.gridItem {
  padding: 0;
}

.description {
  text-align: left;
  height: 20rem;
}

.title {
  margin-bottom: 1rem;
}

.quantity.quantity.quantity {
  width: 14rem;
  margin-bottom: 1rem;
}

.total {
  padding-right: 1rem;
}
