.cartItemGrid{
 margin-bottom: 1rem;
}

.gridItem {
  padding: 0;
}

.description {
  text-align: left;
  height: 14rem;
}

.title.title {
  margin-bottom: 1rem;
}

.quantity.quantity.quantity {
  width: 14rem;
  margin-bottom: 1rem;
}

.total {
  margin-right: 1rem;
}


.image {
  width: 6rem;
  height: 6rem;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
}

.cartItemBtn.cartItemBtn {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
